<div class="publishers-container">
  <div>
    <form (ngSubmit)="addPublisher()" class="publishers-form">
      <label>
        Publisher name
        <input [(ngModel)]="newPublisher.publisher" name="publisher" required />
      </label>
    </form>
    <button (click)="addPublisher()" class="add-publisher-button">
      Add new publisher
    </button>
  </div>
  <div>
    <app-publisher-card
      *ngFor="let publisher of publishers"
      [publisher]="publisher"
    ></app-publisher-card>
  </div>
</div>
